Thumbs.db
.vscode
.edgeone
.codebuddy
.tmp
.sass-cache
npm-debug.log
builds
package-lock.json
public
_vendor
.env

exampleSite/dist
exampleSite/resources
exampleSite/.env
exampleSite/node_modules
exampleSite/hugo_stats.json
exampleSite/.hugo_build.lock
exampleSite/yarn.lock